extends ../layout
block body
	i Calling back to parent...

	script.
		var data = {
			token       : "#{token}",
			tokenSecret : "#{tokenSecret}",
			name        : "#{name}",
			id          : "#{id}",
		};

		window.opener.$loginDfd.resolve(data);